@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-euclid-circular-a font-normal text-base text-dark dark:text-[#8b8b8b] relative z-1 bg-white dark:bg-darkBg  dark:text-primaryText;
  }
} /* Scrollbar */
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  } /* Clears the ‘X’ from search inputs */
  input[type="search"]::-ms-clear,
  input[type="search"]::-ms-reveal,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
    width: 0;
    height: 0;
  }
}
@layer components {
  /* Dropdown */
  .dropdown {
    @apply flex-col gap-0 min-w-max xl:w-[193px] mt-2 lg:mt-0 bg-white dark:bg-darkBg shadow-2 ease-in duration-200 py-2.5 rounded-md border border-gray-3 dark:border-borderDark left-0 hidden xl:translate-y-10 xl:opacity-0 xl:invisible xl:absolute xl:flex xl:group-hover:opacity-100 xl:group-hover:visible;
  } /* Selects */
  .select-selected {
    @apply bg-gray-1 dark:bg-darkBg rounded-l-[5px] border border-gray-3 dark:border-borderDark !border-r-0 cursor-pointer text-dark dark:text-[#8b8b8b] dark:text-primaryText text-custom-sm py-[11px] pl-3.5 pr-8 relative;
  }
  .select-items div {
    @apply cursor-pointer text-dark dark:text-[#8b8b8b] dark:text-secondaryText text-custom-sm py-[7px] px-4.5;
  }
  .select-items div:hover,
  .same-as-selected {
    @apply bg-gray-1 dark:bg-accent text-dark dark:text-[#8b8b8b] dark:text-primaryText;
  } /* Price Slider */
  .priceSlide .noUi-connects {
    @apply h-1 rounded-full bg-gray-3 dark:bg-accent;
  }
  .priceSlide .noUi-handle {
    @apply -top-3 h-7 w-7 rounded-full border border-gray-4 dark:border-borderDark bg-white dark:bg-darkBg shadow-range;
  } /* Carousel buttons */
  .common-carousel .swiper-button-next,
  .common-carousel .swiper-button-prev {
    @apply !static h-9 w-9 rounded-lg bg-white dark:bg-darkBg text-dark dark:text-[#8b8b8b] dark:text-primaryText border border-gray-3 dark:border-borderDark m-0 ease-out duration-200 hover:bg-blue hover:text-white hover:border-blue;
  } /* Image zoom hover */
  .img-zoom-container img {
    transition: 0.8s;
  }
  .img-zoom-container img:hover {
    transform: scale(2) rotate(0deg);
    transition: 0.8s;
  }
}
